Language: ObjC
BasedOnStyle: Chromium
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
IndentWidth: 4
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: true
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
ObjCBlockIndentWidth: 4
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Never
MaxEmptyLinesToKeep: 2

Language: Cpp
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
ContinuationIndentWidth: 2
PointerAlignment: Left
SpacesInParentheses: false
SortIncludes: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None
SpaceBeforeCpp11BracedList: false
FixNamespaceComments: true
